html, body {
  height: 100%
}

body {
  font: normal 16px/200% tohoma, helvetica, "Microsoft yahei";
  color: #000
}

body, p, ul, li, ol, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, iframe {
  margin: 0;
  padding: 0
}

ul, li, ol {
  list-style: none outside none
}

img {
  border: 0 none;
  vertical-align: top;
  width: 100%
}

input, select {
  vertical-align: middle
}

pre {
  white-space: normal
}

.edge {
  margin: 0 auto
}

.clear {
  zoom: 1;
  clear: both
}

.clear:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0
}

a {
  text-decoration: none;
  height:100%;
  width:100%;
  color: #333
}

a:visited {
  color: #333
}

a:hover, a:active {
  color: #999
}

.fix {
  font-size: 0;
  height: 1px
}

.fl {
  float: left
}

.fr {
  float: right
}

body {
  background: #fff
}

.d-b {
  display: block
}

.d-box {
  display: -webkit-box;
  display: -moz-box;
  display: box
}

.flex1 {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block
}

.vcenter {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}

.tcenter {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

.v-box {
  -webkit-box-orient: vertical;
  box-orient: vertical
}

.tc {
  text-align: center
}

.delay_100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms
}

.delay_200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms
}

.delay_300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms
}

.delay_400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms
}

.delay_500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms
}

.delay_600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms
}

.delay_700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms
}

.delay_800ms {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms
}

.delay_900ms {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms
}

.delay_1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

.delay_1100ms {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s
}

.delay_1200ms {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s
}

.delay_1300ms {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s
}

.delay_1400ms {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s
}

.delay_1500ms {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s
}

.delay_1600ms {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s
}

.delay_1700ms {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s
}

.delay_1800ms {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s
}

.delay_1900ms {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s
}

.delay_2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s
}

.delay_2100ms {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s
}

.delay_2200ms {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s
}

.delay_2300ms {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s
}

.delay_2400ms {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s
}

.delay_2500ms {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s
}

.delay_2600ms {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s
}

.delay_2700ms {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s
}

.delay_2800ms {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s
}

.delay_2900ms {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s
}

.delay_3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s
}

.delay_3100ms {
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s
}

.delay_3200ms {
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s
}

.delay_3300ms {
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s
}

.delay_3400ms {
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s
}

.delay_3500ms {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s
}

.delay_3600ms {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s
}

.delay_3700ms {
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s
}

.delay_3800ms {
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s
}

.delay_3900ms {
  -webkit-animation-delay: 3.9s;
  animation-delay: 3.9s
}

.delay_4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s
}

.delay_4100ms {
  -webkit-animation-delay: 4.1s;
  animation-delay: 4.1s
}

.delay_4200ms {
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s
}

.delay_4300ms {
  -webkit-animation-delay: 4.3s;
  animation-delay: 4.3s
}

.delay_4400ms {
  -webkit-animation-delay: 4.4s;
  animation-delay: 4.4s
}

.delay_4500ms {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s
}

.delay_4600ms {
  -webkit-animation-delay: 4.6s;
  animation-delay: 4.6s
}

.delay_4700ms {
  -webkit-animation-delay: 4.7s;
  animation-delay: 4.7s
}

.delay_4800ms {
  -webkit-animation-delay: 4.8s;
  animation-delay: 4.8s
}

.delay_4900ms {
  -webkit-animation-delay: 4.9s;
  animation-delay: 4.9s
}

.delay_5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s
}

.delay_5100ms {
  -webkit-animation-delay: 5.1s;
  animation-delay: 5.1s
}

.delay_5200ms {
  -webkit-animation-delay: 5.2s;
  animation-delay: 5.2s
}

.delay_5300ms {
  -webkit-animation-delay: 5.3s;
  animation-delay: 5.3s
}

.delay_5400ms {
  -webkit-animation-delay: 5.4s;
  animation-delay: 5.4s
}

.delay_5500ms {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s
}

.delay_5600ms {
  -webkit-animation-delay: 5.6s;
  animation-delay: 5.6s
}

.delay_5700ms {
  -webkit-animation-delay: 5.7s;
  animation-delay: 5.7s
}

.delay_5800ms {
  -webkit-animation-delay: 5.8s;
  animation-delay: 5.8s
}

.delay_5900ms {
  -webkit-animation-delay: 5.9s;
  animation-delay: 5.9s
}

.delay_6s {
  -webkit-animation-delay: 6s;
  animation-delay: 6s
}

.delay_6100ms {
  -webkit-animation-delay: 6.1s;
  animation-delay: 6.1s
}

.delay_6200ms {
  -webkit-animation-delay: 6.2s;
  animation-delay: 6.2s
}

.delay_6300ms {
  -webkit-animation-delay: 6.3s;
  animation-delay: 6.3s
}

.delay_6400ms {
  -webkit-animation-delay: 6.4s;
  animation-delay: 6.4s
}

.delay_6500ms {
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s
}

.delay_6600ms {
  -webkit-animation-delay: 6.6s;
  animation-delay: 6.6s
}

.delay_6700ms {
  -webkit-animation-delay: 6.7s;
  animation-delay: 6.7s
}

.delay_6800ms {
  -webkit-animation-delay: 6.8s;
  animation-delay: 6.8s
}

.delay_6900ms {
  -webkit-animation-delay: 6.9s;
  animation-delay: 6.9s
}

.delay_7000ms {
  -webkit-animation-delay: 7s;
  animation-delay: 7s
}

.delay_7100ms {
  -webkit-animation-delay: 7.1s;
  animation-delay: 7.1s
}

.delay_7200ms {
  -webkit-animation-delay: 7.2s;
  animation-delay: 7.2s
}

.delay_7300ms {
  -webkit-animation-delay: 7.3s;
  animation-delay: 7.3s
}

.delay_7400ms {
  -webkit-animation-delay: 7.4s;
  animation-delay: 7.4s
}

.delay_7500ms {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s
}

.delay_7600ms {
  -webkit-animation-delay: 7.6s;
  animation-delay: 7.6s
}

.delay_7700ms {
  -webkit-animation-delay: 7.7s;
  animation-delay: 7.7s
}

.delay_7800ms {
  -webkit-animation-delay: 7.8s;
  animation-delay: 7.8s
}

.delay_7900ms {
  -webkit-animation-delay: 7.9s;
  animation-delay: 7.9s
}

.text {
  background-image: url("../images/text.png");
  position: absolute;
  left: 42px;
  top: 485px;
  width: 666px;
  height: 2102px;
}
.logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 542px;
  top: 55px;
  width: 171px;
  height: 55px;
}
.time {
  background-image: url("../images/time.png");
  position: absolute;
  left: 182px;
  top: 233px;
  width: 37px;
  height: 37px;
}
.sun {
  background-image: url("../images/sun.png");
  position: absolute;
  left: 668px;
  top: 325px;
  width: 54px;
  height: 52px;
  animation: arrow 1.5s infinite ease-in-out
}

.frutrue {
  background-image: url("../images/frutrue.png");
  position: absolute;
  left: 71px;
  top: 203px;
  width: 636px;
  height: 175px;
}
.earth {
  background-image: url("../images/earth.png");
  position: absolute;
  left: 273px;
  top: 173px;
  width: 253px;
  height: 258px;
}
.background {
  background-image: url("../images/background.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 750px;
  height: 3148px;
}

.sun {
  background-image: url("../images/sun.png");
  position: absolute;
  left: 668px;
  top: 325px;
  width: 54px;
  height: 52px;
  animation: arrow 10s infinite ease-in-out
}

@-webkit-keyframes arrow {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.omg {
  background-image: url("../images/omg.png");
  opacity: 0.38;
  position: absolute;
  left: 29px;
  top: 326px;
  width: 113px;
  height: 55px;
}

.beiJinA{
  background-image: url("../images/beiJinA.png");
  position: absolute;
  left: 12px;
  top: 2618px;
  width: 338px;
  height: 86px;
}

.beiJinB{
  background-image: url("../images/beiJinB.png");
  position: absolute;
  right: 3px;
  top: 2618px;
  width: 398px;
  height: 86px;
}

.gZA {
  background-image: url("../images/gZA.png");
  position: absolute;
  width: 338px;
  height: 86px;
  left: 12px;
  top: 2718px;
}

.gZB {
  background-image: url("../images/gZB.png");
  position: absolute;
  right: -8px;
  top: 2718px;
  width: 398px;
  height: 86px;
}

li a{
  display: block;
}
